    @import url(https://chromewebstore.google.com/detail/ohdbbcionmmidbkalknbaohhdjmlligc?utm_source=item-share-cb);
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            font-family: 'Poppins', 'sans-serif';
        
        }
        html{
            font-size: 62.5%;
        }
        body{
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            background-color: black;
            color: white; 
            overflow: hidden;
        }
        header{
            margin-top: 20px;
            position: fixed;
            top: 0;
            left:0;
            width: 100%;
            padding: 1rem 9%;
            background-color: transparent;
            filter: drop-shadow(0 0 10px #000);
            display: flex;
            justify-content: space-between;
            align-items:center ;
            z-index: 100;
        }
        .logo{
            font-size: 3rem;
            color: #ffff;
            font-weight: 800;
            cursor: pointer;
            transition: 0.5s ease;
            padding-bottom: 5px;
            padding-left: 25px;
        }
        .logo:hover{
            color: #4d8185;
            transition: scale(1.3) translateY(-5px);
        }
    nav a{
        font-size: 1.8rem;
        color: white;
        margin-left: 4rem;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;
    }

    nav a:hover, nav a.active {
        color: #31676b;
        border-bottom: 3px solid #31676b;
        transition: scale(1.0) translateY(-5px);
    } 

    @media(max-width:995px){
        nav {
            position: absolute;
            top: 0;
            display: none;
            right:0;
            width: 40%;
            border-left: 3px solid #31676b;

            border-bottom-left-radius: 2rem;
            padding: 1rem solid;
            background-color: #161616;
            border-top: 0.1rem solid #000001;
        }

        nav a{
            display: block;
            font-size: 2rem;
            margin:3rem 0;
            border-bottom: 3px solid transparent;  
        }  

    }
        section{
            min-height: 100vh;
            padding: 5rem 5% 5rem;
        }
        .home{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        background-color: black;
        }
        .home.começo{
            font-size:6rem;
            font-weight: 700;
            line-height: 1.3;
        }
        span{
            color: #b74b4b;
        }
        .começo{
            font-size: 4rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }
        .inicio-img {
            border-radius: 50%
        }
        .inicio-img img{
            position: relative;
            width: 32vw;
            border-radius:50%;
            box-shadow: 0 0 25px #31676b;
            cursor: pointer;
            transition: 0.2s linear;
        }
        .inicio-img img:hover{
            font-size: 1.8rem;
            font-weight: 500;

        }
        .redes a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background-color: transparent;
            border: 0.2rem solid #31676b;
            font-size: 2rem;
            border-radius: 50%;
            margin: 3rem 1.5rem 3rem 0;
            transition: 0.3s ease;
            color: white;
        }
        .redes a:hover{
            color: #ffffff;
            transform: scale(1.3) translateY(-5px);
            box-shadow: 0 0 21px #59a6ac;
        }
        .btn{
            display: inline-block;
            padding: 1rem 2.8rem;
            background-color: black;
            border-radius: 4rem;
            font-size: 1.6rem;
            color: #ffffff;
            letter-spacing: 0.3rem;
            font-weight: 600;
            border: 2px solid #31676b;
            transition: 0.3s ease;
            cursor:pointer;
        }
        .btn:hover{
            transform: scale(1.1) translateY(-5px);
            color: #ffffff;
            box-shadow: 0 0 25px #72c9cf;
        }
        .meio{
            font-size: 27px;
            font-weight: 600;
            min-width: 280px;
            padding-left: 15px;
            padding: 4px;
        }
        .meio span{
            position: relative;
            font-size: 39px;
        }
        .meio span:before{
            content: "Sofware Developer";
            color: #b74b4b;
            animation: words 20s infinite;
        }
        .meio span::after{
            content: "";
            background-color: #000;
            position: absolute;
            width: calc (100% + 8px);
            height: 100%;
            border-left: 3px solid black;
            right: -8;
            animation: cursor 0.6s infinite;
        }
        @keyframes cursor{
            to{
                border-left: 3px solid #b74b4b;

            }
        }
        @keyframes words{
            0%,25%{
                content: "Web Developer";   
            }
            26%, 50%{
                content: "Sofware Developer";
            }
            51%,75%{
                content: "Web Designer";
            }
            76%, 100%{
                content:"Desktop";
            }
        }
        @media (max-width: 1000px){
            .home{
                gap: 4rem;
            }
        }
        @media(max-width: 995px){
            .home{
                flex-direction: column;
                margin: 5rem 4rem;
            }
            .home.começo h3{
                font-size: 2.5rem;

            }
            .começo h1{
                font-size: 5rem;
            }
            .inicio-img img{
                width: 70vh;
                margin-top: 4rem;
            }
        }