@import url(https://chromewebstore.google.com/detail/ohdbbcionmmidbkalknbaohhdjmlligc?utm_source=item-share-cb);
*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            font-family: 'Poppins', 'sans-serif';
}
body {
    background-color: black;
    color: white;
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 5%;
    background-color: transparent;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 10px #000);
    z-index: 100;
    
    
}

header nav {
    
    display: flex;
    gap: 1.5rem; /* espaçamento entre os links */
    margin-left: 55rem; /* empurra o menu totalmente para a direita */

   
}

nav a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover, nav a.active {
    color: #31676b;
    border-bottom: 2px solid #31676b;
    transform: scale(1.0) translateY(-2px);
}

/* RESPONSIVO */
@media(max-width:995px){
    nav {
        position: absolute;
        top: 0;
        display: none;
        right: 0;
        width: 40%;
        border-left: 2px solid #31676b;
        border-bottom: 2px solid #31676b;
        border-bottom-left-radius: 2rem;
        padding: 0.8rem;
        background-color: #161616;
    }

    nav a {
        display: block;
        font-size: 1.8rem;
        margin: 2rem 0;
    }

    nav a:hover, nav a.active {
        padding: 0.8rem;
        border-radius:0.5rem;
        border-bottom:0.4rem solid #b74b4b;
    }
}
.home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
    padding-top: 6rem; 
}

.habilidades-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.habilidade {
    background-color: #161616;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 25px #31676b;
    min-width: 350px;
    max-width: 600px;
    display: flex;
    align-items: flex-start;
    flex-wrap: auto;
    text-align: left;
    gap: 1.5rem;
    flex-basis:auto;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habilidade:hover {
    transform: scale(1.03) translateY(-3px);
    box-shadow: 0 0 35px #31676b;
}

.habilidade h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #31676b;
    flex-shrink: 150px;
    min-width: 150px;
    text-align: right;
}

.habilidade p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: white;
    flex-grow: 1;
}
.começo{
    padding-left: 20px;
    text-align: center;
    font-weight: bolder;
}

@media(max-width: 995px){
    .habilidades-container {
        flex-direction: column;
        align-items: center;
    }

    .habilidade {
        width: 90%;
        flex-direction: column;
        max-width: none;
        text-align: center;
    }
    .habilidade h2{
        text-align: center;
        min-width: auto;
    }
    
}
