@import url(https://chromewebstore.google.com/detail/ohdbbcionmmidbkalknbaohhdjmlligc?utm_source=item-share-cb);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', 'sans-serif';
    
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white; 
    overflow-x: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}


header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(0 0 10px #000);
    display: flex;
    justify-content: flex-end;
    align-items:center ;
    z-index: 100;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
}

nav a:hover, nav a.active {
    color: #31676b;
    border-bottom: 3px solid #31676b;
   
    transition: 0.3s ease; 
} 

.contact-main {
    flex-grow: 1; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem; 
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    max-width: 450px;
}


.inicio-img {
    border-radius: 50%;
    margin-bottom: 3rem;
}
.inicio-img img{
    position: relative;
    width: 420px; 
    height: 320px;
    object-fit: cover;
    border-radius:50%;
    box-shadow: 0 0 25px #31676b;
    cursor: pointer;
    transition: 0.2s linear;
}
.inicio-img img:hover {
    transform: scale(1.1); 
}

.contact-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.contact-content p {
    font-size: 1.8rem;
    color: #b74b4b; 
    margin-bottom: 4rem;
}


.redes {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.redes a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid #31676b;
    font-size: 2.5rem; 
    border-radius: 50%;
    transition: 0.3s ease;
    color: white;
}

.redes a:hover{
    color: #ffffff;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 21px #59a6ac;
}


@media(max-width:995px){
    header{
        padding: 1rem 5%;
        justify-content: center; 
    }
    nav {
        
        display: flex; 
        gap: 1.5rem;
    }
    nav a{
        margin-left: 1rem;
        font-size: 1.6rem;
    }
    .inicio-img img{
        width: 200px;
        height: 200px;
    }
    .contact-content h1 {
        font-size: 3rem;
    }
    .contact-content p {
        font-size: 1.6rem;
    }
}
